CREATE TABLE
    IF NOT EXISTS instruments.NCR_PD_BAND_KEY_VAL (
        BASEL_ACCT_ID BIGINT NOT NULL,
        OBSN_DT DATE NOT NULL,
        NCR_PD_BAND_KEY_VAL VARCHAR,
        STREAM VARCHAR
    )
;

ALTER TABLE instruments.NCR_PD_BAND_KEY_VAL
SET
    PARTITIONED BY (OBSN_DT, STREAM)
;
