CREATE TABLE IF NOT EXISTS features.NCR_EXPSR_SIZE_KEY_VAL(
    OBSN_DT DATE NOT NULL,
    BASEL_ACCT_ID BIGINT NOT NULL,
    SRC_SYS_CD VARCHAR,
    NCR_EXPSR_SIZE_KEY_VAL VARCHAR
);

ALTER TABLE features.NCR_EXPSR_SIZE_KEY_VAL 
SET PARTITIONED BY (OBSN_DT);
